.comment{
   display: flex;
   &:not(:last-of-type){
      margin-bottom: 50px;
   }

   &_avatar{
      img{
         width: 60px;
         height: 60px;
         border-radius: 50%;
         object-fit: cover;
      }
   }

   &_card{
      margin-left: 30px;
   }

   &_header{
      h5{
         margin-bottom: 0;
      }
      .date{
         font-size: 14px;
      }
   }

   &_body{

   }

   &_child{
      padding-left: 50px;
   }
}
