/*
   Sidebar
*/

.sidebar {
   position: relative;
   min-height: calc(100vh - 56px);

   @media (max-width: 767px) {
      position: fixed;
      top: 56px;
      bottom: 0;
      z-index: 10;
   }

   &-hide-btn {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      background-color: $colorMain;
      padding: 5px;
      color: $lightColor;
      z-index: 2;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: left .4s linear;

      &:hover {
         cursor: pointer;
      }
   }

   &-content {
      width: 250px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 2px 4px 5px 1px rgba($fontColor, .2);
      background-color: $bodyColor;
      transition: all .3s linear;
   }

   &.close {
      .sidebar {
         &-content {
            margin-left: -250px;
         }
      }
   }

   &-header {
      text-align: center;
      background-color: $colorMain;
      padding: 40px 20px 70px 20px;
      position: relative;

      .name {
         font-size: 20px;
         margin-bottom: 0;
      }

      .email {
         font-size: 14px;
      }

      .img {
         border-radius: 50%;
         overflow: hidden;
         padding: 10px;
         background-color: $bodyColor;
         display: inline-flex;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translate(-50%, 50%);

         img {
            border-radius: 50%;
            height: 70px;
            width: 70px;
         }
      }
   }

   &-menu {
      display: flex;
      flex-direction: column;
      padding: 70px 30px;
      list-style: none;

      li {
         padding: 10px 0;
         text-transform: capitalize;

         i {
            margin-right: 10px;
         }

         &:not(:last-child) {
            border-bottom: 1px solid rgba($fontColor, .1);
         }
      }
   }
}
